<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="content" sec:authorize="hasAnyRole('ROLE_ADMIN')">
  <div class="content-container">
    <div class="row justify-content-start">
      <div class="row">
        <div class="col-4">
          <div class="card mt-3 food">
            <form th:action="@{'/upload_food'}" method="post" enctype="multipart/form-data">
              <img th:src="@{'/view_food/' + ${foodDto.id} + '/' + ${foodDto.photo}}" style="width: 300px;
                        height: 260px" class="card-img-top"/>
              <div class="card-body">
                <div class="mb-3">
                  <input class="form-control" type="file" name="foodImage">
                  <input type = "hidden" name="foodId" id = "foodId">
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" style="background-color: #411811">
                      Загрузить фото
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <label> URL: </label>
                <input type = "text" id = "editFoodUrl" th:value = "${foodUrl}" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row mt-2">
            <div class="col-12">
              <div>
                <label> Название: </label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div>
                <input type="text" class="form-control" id="foodName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Вес (кг.): </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div>
                    <input type="text" class="form-control" id="weight" placeholder="Укажите вес весового товара:">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Количество (шт.): </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div>
                    <input type="number" class="form-control" id="quantity">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Цена за указанный вес: </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div>
                    <input type="number" class="form-control" id="pricePerKg">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Цена за количество: </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div>
                    <input type="number" class="form-control" id="pricePerUnit">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Категория: </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <select class="form-control" id="categoryContent"></select>
<!--                  <input type="text" class="form-control" id="categoryContent">-->
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <label> Описание: </label>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div>
                    <textarea class="form-control" id="description" style="height:200px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div>
                    <button class="btn btn-danger" onclick="deleteFood()"> Удалить </button>
                    <button class="btn btn-success btn-sm" onclick="saveFood()"> Сохранить </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="saveFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-white">
          <div class="modal-body">
            Товар успешно изменен!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var modalSave = new bootstrap.Modal(document.getElementById('saveFood'));

    loadFood();
    function loadFood(){
      let foodUrl = document.getElementById("editFoodUrl").value;
      const request = new XMLHttpRequest();
      request.onload = (e) => {
        let result = JSON.parse(request.responseText);
        foodId.value = result.id;
        foodName.value = result.foodName;
        weight.value = result.weight;
        pricePerKg.value = result.pricePerKg;
        quantity.value = result.quantity;
        pricePerUnit.value = result.pricePerUnit;
        description.value = result.description;

        let foodCategoryId = result.category.id;
        loadCategories(foodCategoryId);
      };
      request.open("GET", "/food/catalogue/"+foodUrl);
      request.send();
    }

    loadCategories();
    function loadCategories(foodCategoryId) {
      const request = new XMLHttpRequest();
      request.onload = (e) => {
        let res = JSON.parse(request.responseText);
        let categoryContentHTML = "";
        let foodCategory = "";
        for (i = 0; i < res.length; i++) {
          if (res[i].id === foodCategoryId) {
            foodCategory = "<option value='" + res[i].id + "'>" + res[i].name + "</option>";
          } else {
            categoryContentHTML += "<option value='" + res[i].id + "'>" + res[i].name + "</option>";
          }
        }
        categoryContent.innerHTML = foodCategory + categoryContentHTML;
      };
      request.open("GET", "/category");
      request.send();
    }


    function saveFood(){
      const request = new XMLHttpRequest();
      request.open("PUT", '/food', true);
      request.setRequestHeader("Content-Type", "application/json");
      request.onreadystatechange = () => {// Call a function when the state changes
        if (request.readyState === XMLHttpRequest.DONE && request.status ===200)  {
          loadFood();
        }
      }
      const food = {
          "id": foodId.value,
          "foodUrl": editFoodUrl.value,
          "foodName": foodName.value,
          "weight": weight.value,
          "pricePerKg": pricePerKg.value,
          "quantity": quantity.value,
          "pricePerUnit": pricePerUnit.value,
          "description": description.value,
          "category": {
              "id": categoryContent.value
          }
      };
      request.send(JSON.stringify(food));
      modalSave.show();
    }

    function deleteFood(){
      var conf = confirm("Вы действительно хотите удалить?");
      if(conf){
        const request = new XMLHttpRequest();
        request.open("DELETE", '/food/'+ foodId.value, true);
        request.onreadystatechange = () => {// Call a function when the state changes
          if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
            loadFoods();
          }
        };
        request.send();
        window.history.back();
      }
    }
  </script>
</div>
</html>
