<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="content" sec:authorize="hasAnyRole('ROLE_ADMIN')">
  <div class="content-container">
    <div class="row">
      <div class="col-11">
        <input class="form-control me-2" placeholder="Найти..." aria-label="Search" id="searchQuery" name="search">
      </div>
      <div class="col-1">
        <div class="text-end">
          <button class="btn btn-success" id="searchBtn">Искать</button>
        </div>
      </div>
    </div>
    <div id="contentCatalogue">
      <div class="row">
        <div class="col-12">
          <div class="row" id="foodContent"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    loadFoods();
    function loadFoods(){
      const request = new XMLHttpRequest();
      request.onload = (e) => {
        let result = JSON.parse(request.responseText)
        foodContentHTML = "";
        for (i = 0; i<result.length; i++) {
          foodContentHTML += "<div class = 'col-3'>";
          foodContentHTML += "<div class = 'card mt-3 menu'>";
          foodContentHTML += "<h5 class = 'card-header'></h5>";
          foodContentHTML += "<img src='/view_food/" + result[i].id + "/" + result[i].photo + "' class='card-img-top'/>";
          foodContentHTML += "<div class = 'card-body'>";
          foodContentHTML += "<h5 class = 'card-title'>" + result[i].foodName + "</h5>";
          foodContentHTML += "<span>" + result[i].category.priceFor + "</span>";
          foodContentHTML += "<h5 class = 'card-text'>" + result[i].pricePerUnit + " KZT " + "</h5>";
          foodContentHTML += "<p>" + result[i].category.name + "</p>";
          foodContentHTML += "<a href='/foodDetails/" + result[i].foodUrl + "' class='btn btn-primary btn-sm' style='background-color: #411811'>Изменить</a>";
          foodContentHTML += "</div>";
          foodContentHTML += "</div>";
          foodContentHTML += "</div>";
        }
        foodContent.innerHTML = foodContentHTML;
      };
      request.open("GET", "/food");
      request.send();
    }

    const searchBtn = document.getElementById('searchBtn');
    const query = document.getElementById("searchQuery");

    function search() {
      const query = searchQuery.value;
      const request = new XMLHttpRequest();
      request.onload = (e) => {
        let result = JSON.parse(request.responseText)
        foodContentHTML = "";
        for (i = 0; i<result.length; i++) {
          foodContentHTML += "<div class = 'col-3'>";
          foodContentHTML += "<div class = 'card mt-3 menu'>";
          foodContentHTML += "<h5 class = 'card-header'></h5>";
          foodContentHTML += "<img class=\"card-img-top\"/>";
          foodContentHTML += "<img src='/view_food/" + result[i].id + "/" + result[i].photo + "' class='card-img-top'/>";
          foodContentHTML += "<div class = 'card-body'>";
          foodContentHTML += "<h5 class = 'card-title'>" + result[i].foodName + "</h5>";
          foodContentHTML += "<span>" + result[i].category.priceFor +"</span>";
          foodContentHTML += "<h5 class = 'card-text'>" + result[i].pricePerUnit + " KZT " + "</h5>";
          foodContentHTML += "<p>" + result[i].category.name + "</p>";
          foodContentHTML += "<a href='/foodDetails/" + result[i].foodUrl + "' class='btn btn-primary btn-sm' style='background-color: #411811'>Изменить</a>";
          foodContentHTML += "</div>";
          foodContentHTML += "</div>";
          foodContentHTML += "</div>";
        }
        foodContent.innerHTML = foodContentHTML;
      };
      request.open("GET", "/food/search?q=" + query);
      request.send();
    }

    searchBtn.addEventListener('click', search);
    searchQuery.addEventListener('keyup', function(event) {
      if (event.key === 'Enter') {
        search();
      }
    });

    <!-- Измененное содержимое -->
    function changeContent() {
      // Изменяем содержимое элемента с id="content"
      document.getElementById("contentCatalogue").innerHTML = `
              <div class = 'col mt-3'>
                <div class="container menu">
				 <table class="table table-striped-columns">
				    <thead>
				        <tr>
				            <th scope="col"> ID:</th>
				            <th scope="col"> Название:</th>
				            <th scope="col"> URL:</th>
				            <th scope="col"> Цена:</th>
				            <th scope="col"> Категория:</th>
				            <th scope="col"> Детальное описание:</th>
				        </tr>
				    </thead>
				    <tbody id="foodContentList">
				    </tbody>
				 </table>
               </div>
              </div>`;
      loadFoodsList();
    }

    function loadFoodsList(){
      const request = new XMLHttpRequest(); // <form>
      request.onload = (e) => {
        let result = JSON.parse(request.responseText) //converts to Array
        foodContentListHTML = "";
        for (i = 0; i<result.length; i++) {
          foodContentListHTML += "<tr>";
          foodContentListHTML += "<th scope='row'>" + result[i].id + "</th>";
          foodContentListHTML += "<td>" + result[i].foodName + "</td>";
          foodContentListHTML += "<td>" + result[i].foodUrl + "</td>";
          foodContentListHTML += "<td>" + result[i].pricePerUnit + "</td>";
          foodContentListHTML += "<td>" + result[i].category.name + "</td>";
          foodContentListHTML += "<td>";
          foodContentListHTML += "<a href='/foodDetails/" + result[i].foodUrl + "' class='btn btn-primary btn-sm' " +
                  "style='background-color: #411811'>Изменить</a>";
          foodContentListHTML += "</td>";
          foodContentListHTML += "</tr>";
        }
        foodContentList.innerHTML = foodContentListHTML;
      };
      request.open("GET", "/food");
      request.send();
    }
  </script>
</div>
</html>
