<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
  <div layout:fragment="content">
    <div class="row mt-3">
      <div class="col-6 mx-auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success!=null}">
          Пользователь успешно создан!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error!=null}">
          Ошибка в регистрации!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form th:action="@{'/register'}" method="post">
          <div class="row mt-3">
            <div class="col-12">
              <label> Email:</label>
            </div>
          </div>
          <div class="row mt-2">
              <div class="col-12">
                <input type="email" name="user_email" class="form-control" placeholder="Email" required>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label> Пароль:</label>
            </div>
          </div>
          <div class="row  mt-2">
            <div class="col-12">
              <input type="password" name="user_password" class="form-control" placeholder="Пароль" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label> Повторите пароль</label>
            </div>
          </div>
          <div class="row  mt-2">
            <div class="col-12">
              <input type="password" name="user_re_password" class="form-control" placeholder="Повторите пароль" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label> ФИО:</label>
            </div>
          </div>
          <div class="row  mt-2">
            <div class="col-12">
              <input type="text" name="user_fullname" class="form-control" placeholder="ФИО" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label> Телефон:</label>
            </div>
          </div>
          <div class="row  mt-2">
            <div class="col-12">
              <input type="text" name="user_phone" class="form-control" placeholder="Телефон" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <button class="btn btn-success">SIGN UP</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</html>
