nav{
    background-color: #411811;
    width: 100%; !important;
}

body {
    background-color: #1d0b07;
}

.card.mt-3{
    background-color: #411811;
}
.card.mt-3.food{
    background-color: #ffffff;
}
.card.mt-3.Employee{
    background-color: #e1aa64;
}
.container.Employee{
    background-color: #e1aa64;
}
.card.mt-3.menu{
    background-color: #e1aa64;
}
.card.mt-2{
    background-color: #e1aa64;
}
.container.menu{
    background-color: #e1aa64;
}
.hidden {
    display: none;
}
label{
    color: white;
}
.modal-content{
    background-color: #411811
}

.small-text {
    font-size: 12px;
    margin-top: -10px;
}

.ingredient-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredient-info > div {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px; /* Измените значение, чтобы уменьшить пространство */
}

.ingredient-name {
    font-size: 16px;
    margin-right: 10px;
}

.ingredient-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.ingredient-buttons > div {
    display: flex;
    align-items: center;
}

.ingredient-price {
    font-weight: bold;
    margin-right: auto;
    margin-top: 10px;
}

.itogo {
    margin-top: 2px;
}

.itogo-text {
    display: flex;
    align-items: center;
}

.line {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 0 5px;
    margin-top: 10px;
}

.itogo-price {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
}


.btn-danger,
.add-button,
.subtract-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.ingredient-count {
    margin: 0 5px;
    font-weight: bold;
}
.ingredient-line {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}


.card.foodImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content-container {
    padding-bottom: 300px; /* здесь вы можете указать высоту вашего футера */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 14px;
    background-color: #411811;
}

.footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 0;
    color: #fff;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #fff;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}

.footer .copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {


    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    color: #fff;
}