<link rel="stylesheet" type="text/css" xmlns:th="http://www.thymeleaf.org"  th:href="@{'/bootstrap/css/bootstrap.css'}">
<link rel="stylesheet" th:href="@{'/bootstrap/bootstrap-icons/bootstrap-icons.css'}">
<link rel="stylesheet" type="text/css" th:href="@{'/myStyle/styles.css'}">
<link rel="icon" th:href="@{'/images/icons/free-icon-tableware-7763342.png'}" type="image/png">
<meta charset="UTF-8">
<title>PalauMen</title>
<script type="text/javascript" th:src="@{'/bootstrap/js/bootstrap.bundle.js'}"></script>

