<div class="row mt-3">
    <div class="col-4">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"> PalauMen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle text-start" type="button" data-bs-toggle="dropdown"
                            style="width: 300px"> Меню
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/menu'}"> Меню Каталог</a></li>
                        <li><a class="dropdown-item" onclick="changeContent()"> Меню Таблица</a></li>
                        <li><a class="dropdown-item" th:href="@{'/addFood'}"> Добавить блюдо</a></li>
                    </ul>
                </div>
                <div class="dropdown mt-3">
                    <a class="btn btn-secondary" th:href="@{'/categoryMenu'}" style="width: 300px"> Категории блюд
                    </a>
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle text-start" type="button" data-bs-toggle="dropdown"
                            style="width: 300px"> Сотрудники
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/employees'}"> Сотрудники Каталог</a></li>
                        <li><a class="dropdown-item" onclick="changeEmployeesList()"> Сотрудники Таблица</a></li>
                        <li><a class="dropdown-item" th:href="@{'/addEmployee'}"> Добавить сотрудника</a></li>
                    </ul>
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle text-start" type="button" data-bs-toggle="dropdown"
                            style="width: 300px"> Заказы
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Меню Каталог</a></li>
                        <li><a class="dropdown-item" href="#"> Меню Лист</a></li>
                        <li><a class="dropdown-item" href="#"> Меню Таблица</a></li>
                        <li><a class="dropdown-item" th:href="@{'/addFood'}"> Добавить блюдо</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
